.message-root {
    padding:5px;
    margin:5px;
    width:475px;
    height:auto;
    display: flex;
    background-color: black;
}

.send-msg {
    position:fixed;
    bottom:0;
    width:475px;
    padding:5px;
    margin:5px;
}