.message-item {
    padding:5px;
    margin:5px;
    width:475px;
    height:auto;
    color:white;
}

.rig-chat-controls {
    position:fixed;
    bottom:0;
    padding:5px;
    margin:5px;
    left:50%;
}

.rig-chat {
    position: fixed;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.9);
}

.messages {
    position:fixed;
    color: white;
    display: block;
    left:50%;
    top:60%;
    height:100%;
    padding:5px;
    margin:5px;
    transform:translate(-50%,-50%);
    overflow-y:scroll;
}