.rig-dashboard {
    position: fixed;
    display: block;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.9);
}

.rig-navbar {
    position: fixed;
    height: 100%;
    width: 72px;
    display: block;
    background-color: black;
}

.rig-dashboard-contents {
    color: white;
    position:fixed;
    top:30px;
    left:50%;
    transform:translate(-50%,-50%);
}

.rig-dashboard-tiles {
    position: fixed;
    width:500px;
    display:block;
    left:50%;
    top:300px;
    transform:translate(-50%,-50%);
}

.rig-tile {
    margin-bottom:15px;
    padding:10px;
}

.icon {
    width:36px;
    height:24px;
    color:gray;
}

.icon:hover {
    width:36px;
    height:24px;
    color:white;
}

.nav-btn {
    width:72px;
    height:40px;
    padding:5px;
    margin-top:5px;
    color:black;
}

.logo {
    width:72px;
    height:72px;
    padding:5px;
    margin-top:5px;
    border-radius: 15px;
    border: 1px solid white;
}